In [3]:
# 导入包
import numpy as np
import pandas as pd

## 一、读数据

In [2]:
# 读取practice1.csv，使用默认分隔符
df = pd.read_csv("data/practice1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [4]:
# 读取practice1.csv，使用默认分隔符
df = pd.read_table("data/practice1.csv")
df

     a,b,c,d,message
0      1,2,3,4,hello
1      5,6,7,8,world
2  9,10,11,12,python

In [6]:
# 读取practice1.csv，手动指定分隔符
df = pd.read_table("data/practice1.csv", sep=",")  # delimiter=","也可以
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [8]:
# 读取practice2.csv ,使用默认分隔符
df = pd.read_csv("data/practice2.csv")
df

   1   2   3   4   hello
0  5   6   7   8   world
1  9  10  11  12  python

In [9]:
# 读取practice2.csv ,设定列标签为空
df = pd.read_csv("data/practice2.csv", header=None)
df

   0   1   2   3       4
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [10]:
# 读取practice2.csv ,手动指定列标签
df = pd.read_csv("data/practice2.csv", names=["a", "b", "c", "d", "e"])
df

   a   b   c   d       e
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [11]:
# 读取practice2.csv ,手动指定列标签
df = pd.read_csv("data/practice2.csv", names=["a", "b", "c", "d", "e"], index_col="e")
df

        a   b   c   d
e
hello   1   2   3   4
world   5   6   7   8
python  9  10  11  12

In [13]:
# 读取practice3.csv
df = pd.read_csv("data/practice3.csv")
df

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [14]:
# 读取practice3.csv，构建层次索引
df = pd.read_csv("data/practice3.csv", index_col=["key1", "key2"])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [20]:
# 尝试读取practice4.txt
pd.read_csv("data/practice4.txt")

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [19]:
# 读取practice4.txt，设置分隔符
pd.read_csv("data/practice4.txt", sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

## 二、写数据

In [21]:
# 读取practice1.csv ,使用默认分隔符
df = pd.read_csv("data/practice1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [23]:
# 把df写到csv文件中
df.to_csv("data/practice1_out.csv")

## 三、分块读取大文件

In [ ]:
# 直接读取大文件？别作死
df1 = pd.read_csv("data/practice5.csv")

In [36]:
# 分块读取大文件
chunks = pd.read_csv("data/practice5.csv", chunksize=10)
chunks

In [39]:
# 获取当前chunk的数据
chunks.get_chunk()

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
20,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,324.223541,49,0,oilfieldgamer,173.191,100063,82
21,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,469.269775,0,0,PIAOREN,355.758,100066,66
22,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,32.353622,0,0,Alxfrank21,109.212,100071,93
23,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,604.5532,1693.617310,127,1,ShelbyMedic,1448.822,100073,12
24,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,1719.786130,124,2,Richi10,1023.009,100079,36
25,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,1606.858640,156,2,HAIRONFIRE,708.762,100081,48
26,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,3384.201000,0,0,Lustformuffins,1412.209,100087,15
27,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,601.517800,99,1,YallMadBro,1145.901,100089,62
28,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,404.608800,0,0,in4red,396.464,100091,63
29,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,296.235840,98,0,BunnyJosephine,198.648,100092,79

In [42]:
# 获取当前chunk的数据，临时指定size
chunks.get_chunk(6)

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
30,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,1865.1875,1998.47388,330,3,Bostonwuyanzu,1624.646,100096,8
31,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,920.0372,2439.89819,75,1,Hughe_G_Rexshin,1537.980,100017,10
32,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,2051.30957,174,1,sweet2thMuNch,1516.585,100025,11
33,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,2504.40454,168,1,Capanga09,1220.594,100027,25
34,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0000,84.11823,207,2,SgtTodd,260.470,100030,69
35,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,525.4947,987.12480,357,3,flexistential,798.971,100033,44

In [43]:
# 获取当前chunk的数据
chunks.get_chunk()

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
36,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,1021.845520,38,0,Mmartini,554.170,100039,55
37,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,50.232723,54,0,FarNotFar,122.793,100045,88
38,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,524.243100,0,0,PurplePPLEater,200.669,100048,77
39,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,51.968273,49,0,cftroop,200.197,100053,78
40,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,1031.720340,100,0,DionysusPi,590.883,100058,54
41,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,13.387692,78,0,Thculture,87.649,100068,96
42,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,165.954500,13,0,Ric0_Ric0,223.821,100074,71
43,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,30.239336,0,0,Aswego,128.933,100075,86
44,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,16.980430,25,0,YHSSWAG,165.120,100085,83
45,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.0,218.751678,0,0,Myster0246,234.738,100090,70

In [47]:
# 迭代器读取大文件
iterator = pd.read_csv("data/practice5.csv", iterator=True)
iterator

In [48]:
iterator.get_chunk(5)

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.00000,2082.823000,0,0,fuckeddup,661.491,100001,50
1,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.00000,1118.815000,0,0,nojiongegg,741.359,100002,47
2,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,0.00000,25.533026,73,0,Darthmoca,83.255,100006,97
3,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,997.51000,1032.667850,345,3,gk1715,1144.816,100007,30
4,2017-11-26T01:47:01+0000,97,2U4GBNA0Yml_MDIpsXDjMltu0-r8UqS8skCECcelwiP7iu...,tpp,1,0,0,4296.35938,2300.323490,449,4,Angeliaboby,1112.843,100021,32

## 四、JSON

In [27]:
obj = """{"msg":"ok",
    "location":{
        "level":"地名地址",
        "lon":116.40100299989,
        "lat":39.90311700025,
        "keyWord":"北京市"
    },
    "searchVersion":"6.0.0",
    "status":"0"}"""

In [29]:
obj

'{"msg":"ok",\n    "location":{\n        "level":"地名地址",\n        "lon":116.40100299989,\n        "lat":39.90311700025,\n        "keyWord":"北京市"\n    },\n    "searchVersion":"6.0.0",\n    "status":"0"}'

In [32]:
import json

# 把json字符串转换为dict
res = json.loads(obj)
res

{'msg': 'ok',
 'location': {'level': '地名地址',
  'lon': 116.40100299989,
  'lat': 39.90311700025,
  'keyWord': '北京市'},
 'searchVersion': '6.0.0',
 'status': '0'}

In [33]:
# 把dict对象转换成json字符串
json1 = json.dumps(res)
json1

'{"msg": "ok", "location": {"level": "\\u5730\\u540d\\u5730\\u5740", "lon": 116.40100299989, "lat": 39.90311700025, "keyWord": "\\u5317\\u4eac\\u5e02"}, "searchVersion": "6.0.0", "status": "0"}'